In [1]:
import numpy as np
import pandas as pd
from pandas import ExcelWriter
import ntpath

total_num = 40
file_name1_path = "./hospital_1_Jan.xlsx"
file_name1 = ntpath.basename(file_name1_path)
jan = pd.read_excel(file_name1_path)
jan

   工號     姓名  部門  幹  雞
0   1    Amy  dd  有  無
1   2   Bull  ee  有  有
2   3  Casey  ff  有  無
3  10  Yilin  aa  無  無

In [2]:
file_name2_path = "./hospital_1_Feb.xlsx"
file_name2 = ntpath.basename(file_name2_path)
feb  = pd.read_excel(file_name2_path)
feb

   工號     姓名    部門  幹  雞
0  10  Yilin    aa  無  無
1  20  Zelra    ff  有  有
2  25   Baby  ffnn  無  無
3   3  Casey    ff  有  無

In [3]:
file_name_path = file_name1_path
file_name = file_name1
file_data = pd.read_excel(file_name_path)

In [4]:
original_check = pd.read_excel("./Total_Check.xlsx")
original_check_num_list = original_check["做過健檢"].values.tolist()
total_num_origin = len(original_check_num_list)
original_check

    工號  做過健檢  hospital_1_Jan.xlsx  hospital_1_Feb.xlsx
0    0     0                    0                    0
1    1     1                    1                    0
2    2     1                    1                    0
3    3     1                    1                    1
4    4     0                    0                    0
5    5     0                    0                    0
6    6     0                    0                    0
7    7     0                    0                    0
8    8     0                    0                    0
9    9     0                    0                    0
10  10     1                    0                    1
11  11     0                    0                    0
12  12     0                    0                    0
13  13     0                    0                    0
14  14     0                    0                    0
15  15     0                    0                    0
16  16     0                    0                    0
17  17     0                    0                    0
18  18     0                    0                    0
19  19     0                    0                    0
20  20     1                    0                    1
21  21     0                    0                    0
22  22     0                    0                    0
23  23     0                    0                    0
24  24     0                    0                    0
25  25     1                    0                    1
26  26     0                    0                    0
27  27     0                    0                    0
28  28     0                    0                    0
29  29     0                    0                    0
30  30     0                    0                    0
31  31     0                    0                    0
32  32     0                    0                    0
33  33     0                    0                    0
34  34     0                    0                    0
35  35     0                    0                    0
36  36     0                    0                    0
37  37     0                    0                    0
38  38     0                    0                    0
39  39     0                    0                    0

In [5]:
total_check = original_check.copy()
total_check

    工號  做過健檢  hospital_1_Jan.xlsx  hospital_1_Feb.xlsx
0    0     0                    0                    0
1    1     1                    1                    0
2    2     1                    1                    0
3    3     1                    1                    1
4    4     0                    0                    0
5    5     0                    0                    0
6    6     0                    0                    0
7    7     0                    0                    0
8    8     0                    0                    0
9    9     0                    0                    0
10  10     1                    0                    1
11  11     0                    0                    0
12  12     0                    0                    0
13  13     0                    0                    0
14  14     0                    0                    0
15  15     0                    0                    0
16  16     0                    0                    0
17  17     0                    0                    0
18  18     0                    0                    0
19  19     0                    0                    0
20  20     1                    0                    1
21  21     0                    0                    0
22  22     0                    0                    0
23  23     0                    0                    0
24  24     0                    0                    0
25  25     1                    0                    1
26  26     0                    0                    0
27  27     0                    0                    0
28  28     0                    0                    0
29  29     0                    0                    0
30  30     0                    0                    0
31  31     0                    0                    0
32  32     0                    0                    0
33  33     0                    0                    0
34  34     0                    0                    0
35  35     0                    0                    0
36  36     0                    0                    0
37  37     0                    0                    0
38  38     0                    0                    0
39  39     0                    0                    0

In [6]:
check_num_list = file_data["工號"].values.tolist()

In [7]:
#index = [x for x in range(0, total_num)]
#columns = original_check.columns.tolist()
#columns.append(ntpath.basename(file_name))

#total_check  = pd.DataFrame(index=index, columns=columns)
#total_check  = total_check.fillna(0)
total_check[ntpath.basename(file_name)] = [0 for x in range(0, total_num_origin)]
total_check

    工號  做過健檢  hospital_1_Jan.xlsx  hospital_1_Feb.xlsx
0    0     0                    0                    0
1    1     1                    0                    0
2    2     1                    0                    0
3    3     1                    0                    1
4    4     0                    0                    0
5    5     0                    0                    0
6    6     0                    0                    0
7    7     0                    0                    0
8    8     0                    0                    0
9    9     0                    0                    0
10  10     1                    0                    1
11  11     0                    0                    0
12  12     0                    0                    0
13  13     0                    0                    0
14  14     0                    0                    0
15  15     0                    0                    0
16  16     0                    0                    0
17  17     0                    0                    0
18  18     0                    0                    0
19  19     0                    0                    0
20  20     1                    0                    1
21  21     0                    0                    0
22  22     0                    0                    0
23  23     0                    0                    0
24  24     0                    0                    0
25  25     1                    0                    1
26  26     0                    0                    0
27  27     0                    0                    0
28  28     0                    0                    0
29  29     0                    0                    0
30  30     0                    0                    0
31  31     0                    0                    0
32  32     0                    0                    0
33  33     0                    0                    0
34  34     0                    0                    0
35  35     0                    0                    0
36  36     0                    0                    0
37  37     0                    0                    0
38  38     0                    0                    0
39  39     0                    0                    0

In [8]:
for check_num in range(0, total_num):
    total_check['工號'][check_num] = check_num
    if(check_num > (total_num_origin-1)):
        break
    elif((check_num in check_num_list) and (original_check_num_list[check_num] == 1)):
        total_check[file_name][check_num] = 1

total_check = total_check.drop(total_check.index[total_num:total_num_origin:1])
if(total_num > total_num_origin):
    for check_num in range(total_num_origin, total_num):
        total_check.loc[check_num] = [0 for x in range(len(columns))]
        total_check['工號'][check_num] = check_num

In [9]:
total_check

    工號  做過健檢  hospital_1_Jan.xlsx  hospital_1_Feb.xlsx
0    0     0                    0                    0
1    1     1                    1                    0
2    2     1                    1                    0
3    3     1                    1                    1
4    4     0                    0                    0
5    5     0                    0                    0
6    6     0                    0                    0
7    7     0                    0                    0
8    8     0                    0                    0
9    9     0                    0                    0
10  10     1                    1                    1
11  11     0                    0                    0
12  12     0                    0                    0
13  13     0                    0                    0
14  14     0                    0                    0
15  15     0                    0                    0
16  16     0                    0                    0
17  17     0                    0                    0
18  18     0                    0                    0
19  19     0                    0                    0
20  20     1                    0                    1
21  21     0                    0                    0
22  22     0                    0                    0
23  23     0                    0                    0
24  24     0                    0                    0
25  25     1                    0                    1
26  26     0                    0                    0
27  27     0                    0                    0
28  28     0                    0                    0
29  29     0                    0                    0
30  30     0                    0                    0
31  31     0                    0                    0
32  32     0                    0                    0
33  33     0                    0                    0
34  34     0                    0                    0
35  35     0                    0                    0
36  36     0                    0                    0
37  37     0                    0                    0
38  38     0                    0                    0
39  39     0                    0                    0

In [10]:
def HightLightRepeat(in_data_frame, workbook, worksheet):
    positiveFormat = workbook.add_format({
        'bold': 'true', 
        'font_color': 'red'
    })
    
    columns = total_check.columns.tolist()
    columns_num = len(columns)
    for index, row in in_data_frame.iterrows():
        repeat_num = 0
        for x in range(2, columns_num):
            if(row[columns[x]] == 1):
                repeat_num += 1
        
        if(repeat_num > 1):
            worksheet.set_row(index+1, 15, positiveFormat)

In [11]:
writer = ExcelWriter('Total_Check.xlsx')
total_check.to_excel(writer,'Checkup',index=False)

workbook = writer.book
worksheet = writer.sheets['Checkup']
HightLightRepeat(total_check, workbook, worksheet)
#worksheet.set_row(25, 15, positiveFormat)

writer.save()